
ORACLE_CONNECT_STRING=(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=adb.<region>.oraclecloud.com))(connect_data=(service_name=<DBNAME_WITH_UNDERSCORE_SEPERATOR>_medium.adb.oraclecloud.com))(security=(ssl_server_dn_match=yes)))

COOKIE_SECURE=false
